<%- include ../partials/header.ejs %>

  <h1>Contacts</h1>

  <div class="contact-list">
    <% contacts.forEach(function(contact){ %>
      <div class="contact-list-member">
        <a class="contact-link" href="/contacts/<%= contact.id %>">
          <%= contact.first_name %>&nbsp;<%= contact.last_name %>
        </a>
        <form action="/contacts/<%= contact.id %>?_method=DELETE" method="POST">
          <button class="delete-contact">delete contact</button>
        </form>
      </div>
    <% }) %>
  </div>

<%- include ../partials/footer.ejs %>
